{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
    'node node-infographic-slide'
] %}
<div {{ attributes.addClass(classes) }}>
    {% if title_prefix or title_suffix%}
        {{ title_prefix }}
        {{ title_suffix }}
    {% endif %}

    {% if content.field_impact_image %}
        {{ content.field_impact_image }}
    {% endif %}

    <div{{ content_attributes.addClass('content') }}>
        {{ content|without('links', 'field_impact_image') }}
    </div>
</div><!-- /.node -->
