{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
'node node-event-resource-teaser'
] %}
<article{{ attributes.addClass(classes) }}>

    <div class="event-res-row">
        <div class="event-res-image">
            {% if content.field_resource_image %}
                {{ content.field_resource_image }}
            {% endif %}
        </div>

        {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
            <header>
                <div class="submitted">
                    <time>{{ node.createdtime | date("F d, Y") }}</time>
                </div>
                {{ title_prefix }}
                {% if label %}
                    <h2{{ title_attributes.addClass(title_classes) }}>
                        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                    </h2>
                {% endif %}
                {{ title_suffix }}

                {% if not node.published %}
                    <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
                {% endif %}
            </header>
        {% endif %}
        <div class="event-res-content">
            <div{{ content_attributes.addClass('content') }}>
                {{ content|without('links', 'field_resource_image') }}
            </div><!-- /.content -->

            {% if content.links %}
                <div class="links">
                    {{ content.links }}
                </div><!-- /.links -->
            {% endif %}
        </div>
    </div>
</article><!-- /.node -->
