{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
'node node-all-teaser'
] %}
<article{{ attributes.addClass(classes) }}>
  {% if content.field_image %}
    <div class="event-image-link">{{ content.field_image }}</div>
  {% endif %}
  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {% if display_submitted %}
        <div class="submitted">
          <time>{{ node.createdtime | date("F d, Y") }}</time>
        </div>
      {% endif %}
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      {% if not node.published %}
        <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
      {% endif %}
    </header>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>
    {{ content|without('links', 'field_image', 'field_location', 'field_event_type') }}
  </div><!-- /.content -->
  <div class="location-event-type">
    {% if content.field_location and content.field_event_type %}
      {{ content.field_location }}<div class="separator"> | </div>{{ content.field_event_type }}
    {% endif %}
  </div>
  {% if content.links %}
    <div class="links">
      {{ content.links }}
    </div><!-- /.links -->
  {% endif %}

</article><!-- /.node -->
