{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
'node node-all-teaser'
] %}
<article{{ attributes.addClass(classes) }}>

    {% if content.field_image  and content.field_image[0]['#item'].value['_is_default'] is empty %}
        {{ content.field_image }}
    {% endif %}
    {% if content.field_resource_image and content.field_resource_image[0]['#item'].value['_is_default'] is empty %}
        {{ content.field_resource_image }}
    {% endif %}

    {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
        <header>
            {# {% if display_submitted %} #}
            <div class="submitted">
                <time>{{ node.createdtime | date("F d, Y") }}</time>
            </div>

            {{ title_prefix }}
            {% if label %}
                <h2{{ title_attributes.addClass(title_classes) }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h2>
            {% endif %}
            {{ title_suffix }}

            {% if not node.published %}
                <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
            {% endif %}
        </header>
    {% endif %}

    <div{{ content_attributes.addClass('content') }}>
        {{ content|without('links', 'field_image', 'field_resource_image') }}
    </div><!-- /.content -->

    {% if content.links %}
        <div class="links">
            {{ content.links }}
        </div><!-- /.links -->
    {% endif %}

</article><!-- /.node -->