{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
'node node-story-front'
] %}
<article{{ attributes.addClass(classes) }}>

    {% if content.field_image %}
        {{ content.field_image }}
    {% endif %}

    <div{{ content_attributes.addClass('content') }}>
        {% if title_prefix or title_suffix or unpublished or page is empty and label %}
            <header>
                {{ title_prefix }}
                {% if label %}
                    <h2{{ title_attributes.addClass(title_classes) }}>
                        {{ label }}
                    </h2>
                {% endif %}
                {{ title_suffix }}

                {% if not node.published %}
                    <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
                {% endif %}
            </header>
        {% endif %}

        {% set field_quote =  content.field_more_infos|render|trim %}
        {% if field_quote is not empty %}
            {{ content|without('links', 'field_image', 'field_introduction_text') }}
        {% else %}
            {{ content.field_introduction_text }}
        {% endif %}

        <div class="more">
            <a href="{{ url }}">
                {% if node.field_button_label.value is not empty %}
                    {{ node.field_button_label.value }}
                {% else %}
                    Read more about {{ node.field_first_name.value }} experience
                {% endif %}
            </a>
        </div>
    </div><!-- /.content -->
</article><!-- /.node -->
