{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
'node node-event-slider'
] %}
<article{{ attributes.addClass(classes) }}>

  {% if content.field_featured_image %}
    {{ content.field_featured_image }}
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>
    {% if title_prefix or title_suffix or unpublished or page is empty and label %}
      <header>
        {{ content.field_is_featured }}
        {{ title_prefix }}
        {% if label %}
          <h1{{ title_attributes.addClass(title_classes) }}>
            {{ label }}
          </h1>
        {% endif %}
        {{ title_suffix }}

        {% if not node.published %}
          <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
        {% endif %}
      </header>
    {% endif %}
    {{ content|without('links', 'field_is_featured', 'field_featured_image', 'field_location', 'field_event_date') }}
    {% if content.field_event_date %}
      <div class="event-date-city">{{ content.field_event_date }}
        {% if city %}
          <div class="event-city">, {{ city }}</div>
        {% else %}
          <div class="location">
            , {{ 'Online'|t }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="event-details">
      <a href="{{ url }}">{{ 'Event details'|t }}</a>
    </div>
  </div><!-- /.content -->
</article><!-- /.node -->