{% extends "@block/block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
    {% if content %}
        <div class="content">
            {% for column in content.field_column['#items'] %}
                {% set item=column.getFieldCollectionItem() %}
                <div class="line">
                    {% if item.field_image[0].entity.uri.value %}
                        {% if item.field_link.uri %}
                            <a class="with-img" href="{{ item.field_link.uri }}"
                               title="{{ item.field_title.value }}">
                        <span>
                            <img src="{{ file_url(item.field_image[0].entity.uri.value) }}"/>
                        </span>
                            </a>
                        {% else %}
                            <img src="{{ file_url(item.field_image[0].entity.uri.value) }}"/>
                        {% endif %}
                    {% endif %}
                    <h2>
                        {% if item.field_link.uri %}
                            <a href="{{ item.field_link.uri }}"
                               title="{{ item.field_title.value }}">
                                {{ item.field_title.value }}
                            </a>
                        {% else %}
                            {{ item.field_title.value }}
                        {% endif %}
                    </h2>
                    {% if item.field_sub_title.value %}
                        <div class="sub-title">{{ item.field_sub_title.value|raw }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}